.skills {
  padding: 160px 0 80px;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    right: -300px;
    bottom: -300px;
    width: 900px;
    height: 900px;
    background: url("../../../public/start.webp") no-repeat center/cover;
    z-index: -1;
  }

  .skillsTitle {
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 90px;
    color: #151515;
  }

  .skillsContainer {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -161px;
      left: 0;
      width: 100%;
      height: 290px;
      background: url("../../../public/skills-bg-element.png") no-repeat
        center/contain;
      z-index: -1;
    }
  }

  .skillsTop {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  .skillsPrograms {
    position: relative;
    display: flex;
    align-items: center;
    height: 65px;
    margin-bottom: 5px;
  }

  .skillsProgramsImg {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    & img {
      object-fit: contain;
    }
  }

  .figma {
    background-color: #e6e6e6;
    z-index: 7;
    right: 240px;
    transform: rotate(18deg);
  }

  .ps {
    background-color: #001e36;
    z-index: 6;
    right: 200px;
    transform: rotate(-19deg);
  }

  .ae {
    background-color: #00005b;
    z-index: 5;
    right: 160px;
    transform: rotate(-18deg);
  }

  .yellow {
    right: 120px;
    background-color: #ffd033;
    z-index: 4;
    transform: rotate(50deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .yellowWrapper {
    width: 60px;
    height: 60px;
    margin: 2px 0px 3px 5px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .pr {
    right: 80px;
    background-color: #00005b;
    z-index: 3;
    transform: rotate(2deg);
  }

  .some {
    right: 40px;
    background: linear-gradient(180deg, #22384f 0%, #1d2f42 100%);
    z-index: 2;
  }

  .tLogo {
    background-color: #5282ff;
    right: 0;
    z-index: 1;
  }

  .skillsProgramsWrapper {
    text-align: right;
  }
  .content {
    display: flex;
    gap: 25px;
    justify-content: space-between;
  }

  .left {
    padding: 20px;
    border: 3px solid #151515;
    border-radius: 20px;
    width: 100%;
    max-width: 829px;
  }

  .leftHashtagWrapper {
    margin-bottom: 40px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .leftHashtagGradient {
    background: var(--gradient-bg);
    margin-left: 0;
  }

  .leftBottom {
    gap: 50px;
    display: flex;
  }
  .leftInner {
    width: 100%;
    max-width: 399px;
  }

  .leftTitle {
    font-family: var(--font-raleway);
    font-weight: 600;
    font-size: 17px;
    color: #151515;
    margin-bottom: 18px;
  }

  .leftText {
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 15px;
    color: #151515;
  }

  .leftList {
    list-style-type: disc;
  }

  .leftItemText {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 15px;
    color: #151515;
  }

  .rightList {
    border-radius: 20px;
    padding: 20px;
    background: var(--gradient-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 424px;
  }

  .rightItem {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "";
      position: absolute;
      border-radius: 5px;
      width: 7px;
      height: 7px;
      background-color: #fff;
      top: 6px;
      left: 0;
    }
  }

  .rightItemText {
    font-family: var(--font-raleway);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }

  .leftHashtag {
    padding: 10px 15px;
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .skills {
    .leftBottom {
      gap: 30px;
    }

    .skillsTitle {
      font-size: 70px;
    }
  }
}

@media (max-width: 991px) {
  .skills {
    .skillsTitle {
      font-size: 50px;
    }
    .content {
      flex-direction: column;
    }

    .skillsProgramsImg {
      width: 50px;
      height: 50px;
    }

    .yellowWrapper {
      margin: 2px 0px 0px 2px;
    }

    .left {
      max-width: 686px;
      margin: 0 auto;
    }

    .rightList {
      max-width: 710px;
      margin: 0 auto;
      gap: 20px;
    }

    .leftHashtagWrapper {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .leftHashtag {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .skills {
    padding: 100px 0 80px;
  }
}

@media (max-width: 680px) {
  .skills {
    &::after {
      display: none;
    }

    .skillsProgramsWrapper {
      position: absolute;
      align-self: flex-end;
      right: 20px;
      bottom: -100px;
    }

    .figma {
      background-color: #e6e6e6;
      z-index: 7;
      right: 275px;
      transform: rotate(18deg);
    }

    .ps {
      background-color: #001e36;
      z-index: 6;
      right: 230px;
      transform: rotate(-19deg);
    }

    .ae {
      background-color: #00005b;
      z-index: 5;
      right: 185px;
      transform: rotate(-18deg);
    }

    .yellow {
      right: 140px;
      background-color: #ffd033;
      z-index: 4;
      transform: rotate(50deg);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .pr {
      right: 90px;
      background-color: #00005b;
      z-index: 3;
      transform: rotate(2deg);
    }

    .some {
      right: 45px;
      background: linear-gradient(180deg, #22384f 0%, #1d2f42 100%);
      z-index: 2;
    }

    .tLogo {
      background-color: #5282ff;
      right: 0;
      z-index: 1;
    }

    .content {
      margin-bottom: 100px;
    }
  }
}

@media (max-width: 500px) {
  .skills {
    .skillsContainer {
      &::before {
        left: 24px;
        top: 0px;
        width: 91%;
        height: 100px;
      }
    }
    .skillsTitle {
      font-size: 40px;
    }
    .leftHashtagWrapper {
      flex-direction: column;
      align-items: flex-start;
    }
    .leftBottom {
      flex-direction: column;
    }

    .leftTitle {
      font-size: 22px;
    }

    .leftText {
      font-size: 17px;
    }

    .leftList {
      padding-left: 15px;
    }
  }
}
