.header {
  padding: 60px 0;

  .nav {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .list {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #151515;
  }
}
