.footer {
  padding: 80px 0 60px;

  .title {
    position: relative;
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 62px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #151515;
    margin-bottom: 100px;
    padding-left: 35px;

    &::after {
      content: "";
      position: absolute;
      width: 160px;
      height: 160px;
      background: url("../../../public/footer-title-elem.png") no-repeat
        center/cover;
      left: 0;
      top: -44px;
    }
  }

  .middleBtnWrapper {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cvBtn {
    padding: 10px 20px;
    border-radius: 100px;
    background: var(--gradient-bg);
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
  }

  .nav {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bitText {
    margin: 30px 0;
    font-family: var(--font-raleway);
    font-weight: 700;
    font-size: 66px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #151515;
  }

  .navInner {
    gap: 20px;
    display: flex;
    align-items: center;
  }

  .link {
    position: relative;
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #151515;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px; // расстояние от текста до линии
      left: 50%;
      width: 0;
      height: 1px;
      background-color: #151515;
      transition: all 0.3s ease;
      transform: translateX(-50%);
    }

    &:hover::after {
      width: 100%;
    }
  }

  .contactsWrapper {
    gap: 20px;
    display: flex;
    align-items: center;
  }

  .secondLink {
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.01em;
    text-transform: lowercase;
    color: #151515;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px; // расстояние от текста до линии
      left: 50%;
      width: 0;
      height: 1px;
      background-color: #151515;
      transition: all 0.3s ease;
      transform: translateX(-50%);
    }

    &:hover::after {
      width: 100%;
    }
  }

  .socialWrapper {
    gap: 50px;
    display: flex;
    align-items: center;
  }

  .socialLink {
    position: relative;
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;

    & span {
      display: inline-block;
      margin-top: 4px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2px; // расстояние от текста до линии
      left: 50%;
      width: 0;
      height: 1px;
      background-color: #151515;
      transition: all 0.3s ease;
      transform: translateX(-50%);
    }

    &:hover::after {
      width: 100%;
    }
  }

  .bottom {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 1350px) {
  .footer {
    .bitText {
      font-size: 55px;
      text-align: center;
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    .bitText {
      font-size: 45px;
    }
    .nav {
      flex-direction: column;
      align-items: flex-start;
    }

    .contactsWrapper {
      align-self: flex-end;
    }

    .bottom {
      flex-direction: column;
      align-items: flex-start;
    }

    .middleBtnWrapper {
      align-self: flex-end;
    }
  }
}

@media (max-width: 991px) {
  .footer {
    .bitText {
      font-size: 35px;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .bitText {
      font-size: 25px;
      text-align: left;
    }

    .navInner {
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 12px;
    }

    .contactsWrapper {
      align-self: flex-start;
      flex-wrap: wrap;
      gap: 15px;
    }
    .middleBtnWrapper {
      align-self: flex-start;
    }

    .title {
      font-size: 40px;

      &::after {
        top: -37px;
        width: 120px;
        height: 120px;
      }
    }

    .bottom {
      .socialWrapper {
        gap: 15px;
      }
    }
  }
}

@media (max-width: 550px) {
  .footer {
    .bitText {
      font-size: 20px;
    }
    .socialWrapper {
      gap: 20px;
      flex-wrap: wrap;
    }
    .bottom {
      .middleBtnWrapper {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
