.cases {
  padding: 140px 0 160px;

  .casesContainer {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -140px;
      left: 0;
      width: 100%;
      height: 290px;
      background: url("../../../public/cases-bg-elem.png") no-repeat
        center/contain;
    }
  }

  .casesTitle {
    font-family: var(--font-raleway);
    font-weight: 600;
    font-size: 30px;
    color: #151515;
  }

  .casesSubtitle {
    font-family: var(--font-raleway);
    max-width: 1065px;
    font-weight: 500;
    font-size: 25px;
    line-height: 119%;
    color: #151515;
    margin-bottom: 20px;
  }

  .textWrapper {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .text {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 20px;
    color: #151515;
  }

  .websiteLink {
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #151515;
    border: 2px solid #151515;
    border-radius: 100px;
    padding: 10px 20px;
    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }
  }

  .casesHeader {
    gap: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .casesLogoWrapper {
    width: 140px;
    height: 45px;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .cards {
    margin-top: 40px;

    .cardsTopImages {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
    }

    .casesHeader {
      margin: 40px 0;
    }
    .cardsTopImg {
      width: 100%;
      max-width: 635px;
      height: 365px;
      overflow: hidden;
      border-radius: 20px;
      &:nth-child(1) {
        padding: 20px;
        background-color: #5744ff;
        position: relative;

        & div {
          width: 100%;
          max-width: 582px;
          height: 318px;
          background: url("../../../public/cases/cases-1.png") no-repeat
            center/contain;
        }

        &::after {
          content: "";
          position: absolute;
          top: 23px;
          left: 18px;

          border-radius: 12px;
          overflow: hidden;
        }
      }
      &:nth-child(2) {
        background: url("../../../public/cases/cases-2.png") no-repeat
          center/cover;
        border: 1px solid #5744ff;
      }
    }

    .cardsBottomImages {
      gap: 20px;
      display: flex;
    }

    .cardsBottomImg {
      position: relative;

      &:nth-child(1) {
        & div {
          bottom: 0;
          left: 0;
          // position: absolute;
          border-radius: 14px;
          width: 225px;
          height: 399px;
          overflow: hidden;
          z-index: 5;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .cardBtoomImgFirst {
          width: 300px;
          height: 465px;
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
        }

        & .freeCards {
          position: absolute;
          display: inline-block;
          border-radius: 14px;
          width: 225px;
          height: 399px;
          border-radius: 12px;
        }

        .freeCards1 {
          animation: waveFloat 2s ease-in-out infinite;
          animation-delay: 0s;
          bottom: 20px;
          right: 35px;
          background: #5744ff;
          opacity: 0.6;
          z-index: 4;
        }

        .freeCards2 {
          animation: waveFloat 2s ease-in-out infinite;
          animation-delay: 0.4s;
          background: #5744ff;
          right: 14px;
          bottom: 40px;
          opacity: 0.4;
          z-index: 3;
        }
        .freeCards3 {
          animation: waveFloat 2s ease-in-out infinite;
          animation-delay: 0.8s;

          top: 17px;
          right: 0;
          opacity: 0.2;
          z-index: 2;
          background: #5744ff;
        }
      }
      &:nth-child(2) {
        border-radius: 20px;
        width: 100%;
        max-width: 580px;
        height: 471px;
        overflow: hidden;
        background: url("../../../public/cases/cases-card-bg.png") no-repeat
          center/cover;
        display: flex;
        align-items: center;
        justify-content: center;

        & span {
          display: inline-block;
          width: 414px;
          height: 386px;
          background: url("../../../public/cases/cases-4.png") no-repeat
            center/cover;
        }
      }
      &:nth-child(3) {
        padding: 5px;
        position: relative;
        border-radius: 20px;
        width: 360px;
        height: 474px;
        overflow: hidden;
        background-color: #5744ff;

        .cardsBottomImgThird {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        & span {
          display: inline-block;
        }

        & .cardMobileImg {
          border-radius: 20px;
          width: 257px;
          height: 400px;
          overflow: hidden;
          margin-top: auto;
          background: url("../../../public/cases/cases-5.png") no-repeat
            center/contain;
          margin-bottom: -10px;
        }

        & .mobilePurpleCard {
          position: absolute;
          bottom: -300px;
          left: -200px;
          border-radius: 8px;
          width: 275px;
          height: 200px;
          overflow: hidden;
          background: url("../../../public/cases/cases-purple-card.png")
            no-repeat center/cover;
          transition: all 1s ease-in-out;
        }

        & .mobilePurpleCardActive {
          bottom: -110px;
          left: -65px;
        }

        & .mobileBlackCard {
          position: absolute;
          top: -50px;
          right: -300px;
          border-radius: 8px;
          width: 270px;
          height: 200px;
          overflow: hidden;
          background: url("../../../public/cases/cases-black-card.png")
            no-repeat center/cover;
          transition: all 1s ease-in-out;
        }

        & .mobileBlackCardActive {
          top: -30px;
          right: -75px;
        }
      }
    }
  }

  .salary {
    margin: 100px 0;

    .salaryList {
      border: 1px solid #000;
      margin-bottom: 40px;
      border-radius: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr); // 2 колонки
      grid-template-rows: repeat(2, auto); // 2 строки
      overflow: hidden;
    }

    .salaryItem {
      // height: 350px;
      width: 100%;
      max-width: 640px;
      aspect-ratio: 16 / 9;
      overflow: hidden;

      &:nth-child(1) {
        position: relative;
        background: #dee9ff;

        & span {
          position: absolute;
          top: 41%;
          left: 39%;
          z-index: 2;
          display: inline-block;

          & svg {
            width: 170px;
            height: 170px;
          }
        }

        .salaryItemFirstImgWrapper,
        .salaryItemSecondImgWrapper {
          position: absolute;
          border-radius: 14px;
          width: 100%;
          max-width: 349px;
          height: 246px;
          overflow: hidden;

          & img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }

        .salaryItemFirstImgWrapper {
          top: 40px;
          left: 20px;
          z-index: 3;
        }

        .salaryItemSecondImgWrapper {
          right: 20px;
          bottom: -20px;
          z-index: 1;
        }
      }

      &:nth-child(2) {
        .salaryItemThirdImgWrapper {
          width: 100%;
          height: 100%;
          & img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }
      }

      &:nth-child(3) {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2772ff;
        padding: 20px 50px;

        .salaryItemFourthImgWrapper {
          border-radius: 10px;
          width: 100%;
          max-width: 488px;
          // height: 305px;
          aspect-ratio: 16 / 9;
          overflow: hidden;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &:nth-child(4) {
        background: url("../../../public/cases/cases-card-bg.png") no-repeat top /
          cover;
        display: flex;
        align-items: center;
        justify-content: center;

        .salaryItemFifthImgWrapper {
          width: 90%;
          height: 90%;
          aspect-ratio: 16 / 9;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .quantum {
    .quantumList {
      margin: 40px 0;
      border-radius: 20px;
      gap: 35px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .quantumItem {
      &:nth-child(1) {
        .quantumImgWrapperFirst {
          max-width: 302px;
          height: 615px;
          overflow: hidden;
          aspect-ratio: 9 / 16;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &:nth-child(2) {
        .quantumImgWrapperSecond {
          border-radius: 20px;
          width: 100%;
          max-width: 200px;
          height: 463px;
          box-shadow: 0 84px 80px -30px rgba(0, 0, 0, 0.08);
          overflow: hidden;
          aspect-ratio: 9 / 16;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &:nth-child(3) {
        border-radius: 20px;
        width: 100%;
        max-width: 200px;
        height: 463px;
        aspect-ratio: 9 / 16;
        box-shadow: 0 84px 80px -30px rgba(0, 0, 0, 0.08);
        background: #005fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .phoneTop {
          margin-top: 35px;
          gap: 5px;
          display: flex;
          align-items: center;
        }

        .phoneBottom {
          display: flex;
          flex-direction: column;
          max-width: 115px;
          margin: 0 auto 35px;

          & span {
            margin-top: 5px;
            gap: 5px;
            display: flex;
            align-items: center;
          }
        }

        .phoneMiddle {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .phoneCircles {
          position: relative;
        }

        .phoneCircle_five {
          &::after {
            content: "";
            position: absolute;
            width: 277px;
            height: 277px;
            border-radius: 100%;
            stroke-width: 0.55px;
            border: 1px solid #fff;
            opacity: 0.2;
            top: -109px;
            left: -110px;
            animation: pulseFade 2s infinite ease-in-out;
            animation-delay: 0.8s;
          }
        }

        .phoneCircle_four {
          &::after {
            content: "";
            position: absolute;
            border-radius: 100%;
            border: 1px solid #fff;
            opacity: 0.2;
            width: 200px;
            height: 200px;
            top: -71px;
            left: -71px;
            animation: pulseFade 2s infinite ease-in-out;
            animation-delay: 0.6s;
          }
        }

        .phoneCircle_three {
          &::after {
            content: "";
            position: absolute;
            border-radius: 100%;
            border: 1px solid #fff;
            opacity: 0.2;
            width: 180px;
            height: 180px;
            left: -60px;
            top: -60px;
            animation: pulseFade 2s infinite ease-in-out;
            animation-delay: 0.4s;
          }
        }

        .phoneCircle_two {
          &::after {
            content: "";
            position: absolute;
            border-radius: 100%;
            border: 1px solid #fff;
            opacity: 0.2;
            width: 140px;
            height: 140px;
            left: -39px;
            top: -41px;
            animation: pulseFade 2s infinite ease-in-out;
            animation-delay: 0.2s;
          }
        }

        .phoneCircle_one {
          &::after {
            content: "";
            position: absolute;
            border-radius: 100%;
            border: 1px solid #fff;
            opacity: 0.2;
            width: 90px;
            height: 90px;
            left: -15px;
            top: -16px;
            animation: pulseFade 2s infinite ease-in-out;
            animation-delay: 0s;
          }
        }
      }
      &:nth-child(4) {
        .quantumImgWrapperFourth {
          border-radius: 20px;
          width: 100%;
          max-width: 200px;
          height: 463px;
          box-shadow: 0 84px 80px -30px rgba(0, 0, 0, 0.08);
          overflow: hidden;
          aspect-ratio: 9 / 16;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &:nth-child(5) {
        .quantumImgWrapperFifth {
          border-radius: 20px;
          width: 100%;
          max-width: 200px;
          height: 463px;
          box-shadow: 0 84px 80px -30px rgba(0, 0, 0, 0.08);
          overflow: hidden;
          aspect-ratio: 9 / 16;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .interview {
    margin-top: 160px;
    text-align: center;
    .interviewTitle {
      font-family: var(--font-raleway);
      font-weight: 400;
      font-size: 55px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #151515;

      & span {
        font-family: var(--font-misto);
      }
    }

    .interviewSubtitle {
      font-family: var(--font-raleway);
      font-weight: 400;
      font-size: 20px;
      letter-spacing: -0.01em;
      text-align: center;
      color: #151515;
      margin: 30px auto;
      max-width: 535px;
    }

    .interviewBtnWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .cvBtn {
      padding: 10px 20px;
      border-radius: 100px;
      background: var(--gradient-bg);
      font-family: var(--font-raleway);
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      color: #fff;
    }
  }
}

@media (max-width: 1200px) {
  .cases {
    .casesTitle {
      font-size: 25px;
    }

    .casesSubtitle {
      font-size: 20px;
    }

    .text {
      font-size: 18px;
    }

    .cards {
      .cardsTopImg {
        width: 100%;
        max-width: 635px;
        height: 300px;
        overflow: hidden;
        border-radius: 20px;
        &:nth-child(1) {
          & div {
            width: 100%;
            max-width: 582px;
            height: 100%;
            background: url("../../../public/cases/cases-1.png") no-repeat
              center/contain;
          }
        }
        &:nth-child(2) {
          border: 1px solid #5744ff;

          & div {
            background: url("../../../public/cases/cases-2.png") no-repeat
              center/cover;
            width: 100%;
            height: 100%;
          }
        }
      }

      .cardsImagesWrapper {
        gap: 40px;
        display: flex;
        flex-direction: column;
      }

      .cardsBottomImg {
        &:nth-child(1) {
          & div {
            bottom: 0;
            left: 0;
            // position: absolute;
            border-radius: 14px;
            width: 225px;
            height: 399px;
            overflow: hidden;
            z-index: 5;

            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .cardBtoomImgFirst {
            width: 300px;
            height: 400px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
          }

          & .freeCards {
            position: absolute;
            display: inline-block;
            border-radius: 14px;
            width: 225px;
            height: 399px;
            border-radius: 12px;
          }

          .freeCards1 {
            animation: waveFloat 2s ease-in-out infinite;
            animation-delay: 0s;
            bottom: 10px;
            right: 35px;
            background: #5744ff;
            opacity: 0.6;
            z-index: 4;
          }

          .freeCards2 {
            animation: waveFloat 2s ease-in-out infinite;
            animation-delay: 0.4s;
            background: #5744ff;
            right: 14px;
            bottom: 20px;
            opacity: 0.4;
            z-index: 3;
          }

          .freeCards3 {
            animation: waveFloat 2s ease-in-out infinite;
            animation-delay: 0.8s;

            top: -30px;
            right: 0;
            opacity: 0.2;
            z-index: 2;
            background: #5744ff;
          }
        }
        &:nth-child(2) {
          border-radius: 20px;
          width: 100%;
          max-width: 580px;
          height: 400px;
          overflow: hidden;
          background: url("../../../public/cases/cases-card-bg.png") no-repeat
            center/cover;
          display: flex;
          align-items: center;
          justify-content: center;

          & span {
            display: inline-block;
            width: 100%;
            max-width: 414px;
            height: 386px;
            background: url("../../../public/cases/cases-4.png") no-repeat
              center/cover;
          }
        }
        &:nth-child(3) {
          padding: 5px;
          position: relative;
          border-radius: 20px;
          width: 360px;
          height: 400px;
          overflow: hidden;
          background-color: #5744ff;
          display: flex;
          align-items: center;
          justify-content: center;

          & span {
            display: inline-block;
          }

          & .cardMobileImg {
            width: 195px;
            height: 350px;

            background: url("../../../public/cases/cases-5.png") no-repeat
              center/contain;
            margin-bottom: -18px;
          }

          & .mobilePurpleCard {
            bottom: -300px;
            left: -200px;
            width: 245px;
            height: 165px;
          }

          & .mobilePurpleCardActive {
            bottom: -90px;
            left: -75px;
          }

          & .mobileBlackCard {
            width: 250px;
            height: 180px;
            top: 0;
            right: -300px;
          }

          & .mobileBlackCardActive {
            top: -7px;
            right: -120px;
          }
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .cases {
    .cards {
      .cardsBottomImg {
        &:nth-child(1) {
          height: 350px;

          & div {
            height: 350px;
            width: 203px;

            & img {
              object-fit: cover;
            }
          }

          .cardBtoomImgFirst {
            height: 350px;
          }

          .freeCards1 {
            width: 203px;
            height: 350px;
            right: 65px;
          }

          .freeCards2 {
            width: 203px;
            height: 350px;
            right: 33px;
          }

          .freeCards3 {
            width: 203px;
            height: 350px;
            right: 5px;
          }
        }
        &:nth-child(2) {
          height: 350px;
          max-width: 480px;

          & span {
            height: 90%;
            background-size: contain;
          }
        }
        &:nth-child(3) {
          height: 350px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .cases {
    .cards {
      .cardsBottomImg {
        &:nth-child(3) {
          .cardMobileImg {
            height: 255px;
            margin-bottom: -5px;
          }
        }
      }
    }

    .salary {
      .salaryItem {
        &:nth-child(1) {
          & span {
            & svg {
              width: 150px;
              height: 150px;
            }
          }
          .salaryItemFirstImgWrapper,
          .salaryItemSecondImgWrapper {
            max-width: 250px;
            height: 169px;
          }

          .salaryItemFirstImgWrapper {
            left: 60px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .cases {
    .cards {
      .cardsTopImages {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
      }

      .cardsBottomImages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
        max-width: 635px;
        margin: 0 auto;
      }

      .cardsBottomImg {
        &:nth-child(1) {
          order: 1;
          height: 480px;
          display: flex;
          align-items: flex-end;

          & div {
            height: 400px;
            width: 233px;
          }

          .cardBtoomImgFirst {
            height: 400px;
          }

          .freeCards1 {
            height: 400px;
            width: 233px;
            right: 40px;
            bottom: 10px;
          }
          .freeCards2 {
            height: 400px;
            width: 233px;
            right: 20px;
            bottom: 25px;
          }
          .freeCards3 {
            height: 400px;
            width: 233px;
            right: 0;
            top: 30px;
          }
        }
        &:nth-child(2) {
          order: 0;
          grid-column: 1/3;
          height: 150px;
          width: 100%;
          max-width: 100%;

          & span {
            width: 365px;
            height: 110px;
            background-image: url("../../../public/cases/cases-4-small.png");
            background-size: cover;
          }
        }
        &:nth-child(3) {
          order: 2;
          height: 480px;
          width: 300px;

          .cardsBottomImgThird {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
          }

          .cardMobileImg {
            border-radius: 20px 20px 0 0;
            height: 420px;
            width: 255px;
          }
        }
      }
    }

    .salary {
      .salaryItem {
        &:nth-child(1) {
          & span {
            top: 30%;
            left: 33%;
          }
          .salaryItemFirstImgWrapper {
            left: 10px;
            max-width: 220px;
            height: 150px;
            top: 20px;
          }
        }
      }
    }

    .quantum {
      .quantumItem {
        &:nth-child(1) {
          .quantumImgWrapperFirst {
            max-width: 200px;
            height: 400px;
          }
        }
        &:nth-child(2) {
          .quantumImgWrapperSecond {
            width: 100%;
            max-width: 200px;
            height: 400px;
          }
        }
        &:nth-child(3) {
          width: 100%;
          max-width: 200px;
          height: 400px;
          aspect-ratio: 9 / 16;
        }
        &:nth-child(4) {
          .quantumImgWrapperFourth {
            width: 100%;
            max-width: 200px;
            height: 400px;
          }
        }
        &:nth-child(5) {
          .quantumImgWrapperFifth {
            width: 100%;
            max-width: 200px;
            height: 400px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cases {
    .casesHead {
      margin: 30px 0;
    }

    .casesTitle {
      font-size: 20px;
    }

    .casesSubtitle {
      font-size: 18px;
    }

    .text {
      font-size: 16px;
    }

    .textWrapper {
      gap: 20px;
      flex-direction: column;
    }

    .casesHeader {
      flex-wrap: wrap;
    }

    .casesLogoWrapper {
      order: 0;
    }

    .casesTitle {
      order: 1;
    }

    .hashtag {
      order: 0;
    }

    .cards {
      .cardsTopImg {
        &:nth-child(2) {
          height: 288px;
        }
      }
      .cardsBottomImg {
        &:nth-child(1) {
          width: 100%;
          max-width: 100%;
          height: 380px;
          overflow: hidden;

          .cardBtoomImgFirst {
            height: 380px;
            width: 100%;
            // background-color: #ccc;
          }

          & div {
            height: 330px;
            width: 188px;
          }

          .freeCards {
            height: 330px;
            width: 188px;
            right: auto;
          }

          .freeCards1 {
            left: 23px;
          }
          .freeCards2 {
            left: 56px;
          }
          .freeCards3 {
            left: 90px;

            top: 10px;
          }
        }

        &:nth-child(3) {
          height: 380px;
          width: 100%;
          max-width: 100%;

          .cardMobileImg {
            height: 325px;
            width: 195px;
          }
        }
      }
    }

    .interview {
      .interviewTitle {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 600px) {
  .cases {
    .interview {
      .interviewBtnWrapper {
        gap: 20px;
        flex-direction: column;
      }
    }

    .quantum {
      .quantumList {
        gap: 10px;
      }
      .quantumItem {
        &:nth-child(1) {
          .quantumImgWrapperFirst {
            max-width: 162px;
            height: 351px;
          }
        }
        &:nth-child(2) {
          .quantumImgWrapperSecond {
            max-width: 162px;
            height: 351px;
          }
        }
        &:nth-child(3) {
          max-width: 162px;
          height: 351px;
        }
        &:nth-child(4) {
          .quantumImgWrapperFourth {
            max-width: 162px;
            height: 351px;
          }
        }
        &:nth-child(5) {
          .quantumImgWrapperFifth {
            max-width: 162px;
            height: 351px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .cases {
    .websiteLink {
      font-size: 18px;
      padding: 8px 10px;
    }

    .cards {
      .cardsImagesWrapper {
        gap: 10px;
      }
      .cardsTopImages {
        gap: 10px;
      }
      .cardsTopImg {
        height: 250px;

        &:nth-child(2) {
          height: 226px;
        }
      }

      .cardsBottomImages {
        gap: 10px;
      }
      .cardsBottomImg {
        &:nth-child(1) {
          height: 320px;

          .cardBtoomImgFirst {
            height: 320px;
          }

          & div {
            width: 140px;
            height: 260px;
          }

          .freeCards {
            width: 140px;
            height: 260px;
          }

          .freeCards1 {
            left: 13px;
          }
          .freeCards2 {
            left: 28px;
          }
          .freeCards3 {
            left: 41px;
            top: 22px;
          }
        }
        &:nth-child(3) {
          height: 320px;

          .cardMobileImg {
            height: 250px;
            width: 200px;
          }

          .mobileBlackCard {
            width: 200px;
            height: 130px;
          }

          .mobileBlackCardActive {
            top: -6px;
            right: -65px;
          }

          .mobilePurpleCard {
            width: 200px;
            height: 130px;
          }

          .mobilePurpleCardActive {
            left: -63px;
            bottom: -55px;
          }
        }
      }
    }

    .salary {
      .salaryList {
        gap: 10px;
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: 0;
      }

      .salaryItem {
        border-radius: 10px;
        overflow: hidden;

        &:nth-child(3) {
          padding: 20px 40px;
          .salaryItemFourthImgWrapper {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@keyframes pulseFade {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}
@keyframes waveFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
